* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  

}
::-webkit-scrollbar {
  width: 5px;
  background-color:#E6E6E6;
 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #999; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 10px;
  height:20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:inherit;
}